#CURRICULUM.anim {
  display: flex !important;
  justify-content: center !important;
}
#CURRICULUM.anim #openStand {
  display: none !important;
}
#CURRICULUM.anim #rotationStand {
  display: none !important;
}
#CURRICULUM.anim #rotationStand:checked ~ #teleport {
  animation: rotationStand linear 20s infinite;
}

#teleport {
  position: relative;
  transform-style: preserve-3d;
  align-self: flex-end;
  display: grid;
  width: calc(1.15 * var(--standLargeur));
  height: calc(1.15 * var(--standLargeur));
}

.bloc.bottom,
.bloc.top {
  position: absolute;
  justify-self: center;
  transform-style: preserve-3d;
  width: var(--standLargeur);
  height: calc(1.15 * var(--standLargeur));
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.bloc.bottom .face,
.bloc.top .face {
  position: absolute;
  transform-style: preserve-3d;
  justify-self: center;
  align-self: center;
  background-color: var(--subColor);
}
.bloc.bottom .face::before,
.bloc.top .face::before {
  position: absolute;
  content: "";
  top: 0 !important;
  left: 0 !important;
  transform: rotate(60deg);
  background-color: var(--subColor);
}
.bloc.bottom .face::after,
.bloc.top .face::after {
  position: absolute;
  content: "";
  top: 0 !important;
  left: 0 !important;
  transform: rotate(120deg);
  background-color: var(--subColor);
}
.bloc.bottom .face.bottom.up, .bloc.bottom .face.top.up,
.bloc.top .face.bottom.up,
.bloc.top .face.top.up {
  transform: translateZ(var(--standEpaisseur));
}
.bloc.bottom .face.bottom.down, .bloc.bottom .face.top.down,
.bloc.top .face.bottom.down,
.bloc.top .face.top.down {
  transform: translateZ(0);
  display: grid;
}
.bloc.bottom .face.top.down::before,
.bloc.top .face.top.down::before {
  z-index: 2;
  background-image: url("../../divers/img/bzzt.gif");
  background-position: center;
  background-size: cover;
}

.bloc.bottom .side,
.bloc.top .side {
  position: absolute;
  transform-style: preserve-3d;
  align-self: center;
  justify-self: center;
  z-index: 2;
  height: var(--standLargeurInt);
  background: radial-gradient(var(--mainColor2), var(--mainColor1));
  transition: width 1s;
}
.bloc.bottom .side::before,
.bloc.top .side::before {
  position: absolute;
  content: "";
  top: 0 !important;
  left: 0 !important;
  height: var(--standLargeurInt);
  background: radial-gradient(var(--mainColor2), var(--mainColor1));
}
.bloc.bottom .side::after,
.bloc.top .side::after {
  position: absolute;
  content: "";
  top: 0 !important;
  left: 0 !important;
  height: var(--standLargeurInt);
  background: radial-gradient(var(--mainColor2), var(--mainColor1));
}
.bloc.bottom .side.left,
.bloc.top .side.left {
  transform-origin: right;
  transform: rotate(0deg) translateX(calc(-0.5 * var(--standLargeur) - 0.5 * var(--standEpaisseur) + 1px)) rotateY(90deg);
}
.bloc.bottom .side.right,
.bloc.top .side.right {
  transform-origin: left;
  transform: rotate(0deg) translateX(calc(0.5 * var(--standLargeur) + 0.5 * var(--standEpaisseur) - 1px)) rotateY(-90deg);
}
.bloc.bottom .side.left::before,
.bloc.top .side.left::before {
  transform-origin: bottom;
  transform: translateY(-100%) rotateX(-60deg);
}
.bloc.bottom .side.left::after,
.bloc.top .side.left::after {
  transform-origin: top;
  transform: translateY(100%) rotateX(60deg);
}
.bloc.bottom .side.right::before,
.bloc.top .side.right::before {
  transform-origin: bottom;
  transform: translateY(-100%) rotateX(-60deg);
}
.bloc.bottom .side.right::after,
.bloc.top .side.right::after {
  transform-origin: top;
  transform: translateY(100%) rotateX(60deg);
}

#zoneCV {
  visibility: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  align-self: center;
  justify-self: center;
  background-image: url("../../divers/img/docFront.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 1.5s;
  filter: blur(0.5px);
}
#zoneCV:hover {
  opacity: 1;
  filter: blur(0px);
}

#filtreCV {
  visibility: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  align-self: center;
  justify-self: center;
  background-image: url("../../divers/img/docBack.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

@keyframes faceBottomDown {
  0% {
    height: 0px;
    width: 0px;
  }
  8% {
    height: var(--standLargeurInt);
    width: var(--standLargeur);
  }
  100% {
    height: var(--standLargeurInt);
    width: var(--standLargeur);
  }
}
@keyframes sideBottom {
  0% {
    width: 0px;
  }
  12% {
    width: 0px;
  }
  20% {
    width: var(--standEpaisseur);
  }
  100% {
    width: var(--standEpaisseur);
  }
}
@keyframes faceBottomUp {
  0% {
    height: 0px;
    width: 0px;
  }
  24% {
    height: 0px;
    width: 0px;
  }
  32% {
    height: var(--standLargeurInt);
    width: var(--standLargeur);
  }
  100% {
    height: var(--standLargeurInt);
    width: var(--standLargeur);
  }
}
@keyframes faceBottomUpAfter {
  0% {
    height: 0px;
    width: 0px;
    background-image: none;
  }
  24% {
    height: 0px;
    width: 0px;
    background-image: none;
  }
  32% {
    height: var(--standLargeurInt);
    width: var(--standLargeur);
    background-image: none;
  }
  84% {
    height: var(--standLargeurInt);
    width: var(--standLargeur);
    background-image: none;
  }
  85% {
    background-image: url("../../divers/img/bzzt.gif");
    background-position: top;
    background-size: cover;
  }
  100% {
    background-image: url("../../divers/img/bzzt.gif");
    background-position: top;
    background-size: cover;
    height: var(--standLargeurInt);
    width: var(--standLargeur);
  }
}
@keyframes blocTopSide {
  0% {
    width: 0px;
  }
  36% {
    width: 0px;
  }
  42% {
    width: var(--standEpaisseur);
  }
  100% {
    width: var(--standEpaisseur);
  }
}
@keyframes blocTopFace {
  0% {
    height: 0px;
    width: 0px;
  }
  36% {
    height: 0px;
    width: 0px;
  }
  42% {
    height: var(--standLargeurInt);
    width: var(--standLargeur);
  }
  100% {
    height: var(--standLargeurInt);
    width: var(--standLargeur);
  }
}
@keyframes blocTop {
  50% {
    transform: translateZ(var(--standEpaisseur)) rotate(0deg);
  }
  53% {
    transform: translateZ(var(--standEpaisseur)) rotate(20deg);
  }
  56% {
    transform: translateZ(var(--standEpaisseur)) rotate(120deg);
  }
  59% {
    transform: translateZ(var(--standEpaisseur)) rotate(260deg);
  }
  62% {
    transform: translateZ(var(--standEpaisseur)) rotate(540deg);
  }
  65% {
    transform: translateZ(var(--standEpaisseur)) rotate(820deg);
  }
  68% {
    transform: translateZ(var(--standEpaisseur)) rotate(960deg);
  }
  71% {
    transform: translateZ(var(--standEpaisseur)) rotate(1060deg);
  }
  74% {
    transform: translateZ(var(--standEpaisseur)) rotate(1083deg);
  }
  75% {
    transform: translateZ(var(--standEpaisseur)) rotate(1079deg);
  }
  76% {
    transform: translateZ(var(--standEpaisseur)) rotate(1081deg);
  }
  77% {
    transform: translateZ(var(--standEpaisseur)) rotate(1080deg);
  }
  84% {
    transform: translateZ(var(--standEpaisseur)) rotate(1080deg);
  }
  98% {
    transform: translateZ(var(--standHauteur)) rotate(1080deg);
  }
  100% {
    transform: translateZ(var(--standHauteur)) rotate(1080deg);
  }
}
@keyframes document {
  0% {
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.25 * var(--standEpaisseur)), 0);
    height: 0px;
    width: 0px;
  }
  84% {
    visibility: visible;
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.25 * var(--standEpaisseur)), 0);
    height: 0px;
    width: 0px;
  }
  98% {
    visibility: visible;
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.25 * var(--standEpaisseur)), 0);
    height: calc(0.8 * var(--standHauteur));
    width: calc(0.5656 * var(--standHauteur));
  }
  100% {
    visibility: visible;
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.25 * var(--standEpaisseur)), 0);
    height: calc(0.8 * var(--standHauteur));
    width: calc(0.5656 * var(--standHauteur));
  }
}
@keyframes rotationStand {
  from {
    transform: translateY(calc(0.575 * var(--standLargeur))) rotateX(90deg) translateY(calc(-0.575 * var(--standLargeur))) rotateZ(0deg);
  }
  to {
    transform: translateY(calc(0.575 * var(--standLargeur))) rotateX(90deg) translateY(calc(-0.575 * var(--standLargeur))) rotateZ(360deg);
  }
}
@keyframes iconTurn {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(375deg);
  }
}
@keyframes blocTopOut {
  0% {
    transform: translateZ(var(--standHauteur)) rotate(1080deg);
  }
  45% {
    transform: translateZ(var(--standEpaisseur)) rotate(1080deg);
  }
  50% {
    transform: translateZ(var(--standEpaisseur)) rotate(1080deg);
  }
  70% {
    transform: translateZ(0) rotate(1080deg) scale(0);
  }
  100% {
    transform: translateZ(0) rotate(0) scale(0);
  }
}
@keyframes blocBottomOut {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes docOut {
  0% {
    visibility: visible;
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.5 * var(--standEpaisseur)), 0);
    height: calc(0.8 * var(--standHauteur));
    width: calc(0.5656 * var(--standHauteur));
  }
  48% {
    visibility: visible;
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.5 * var(--standEpaisseur)), 0);
    height: 0px;
    width: 0px;
  }
  49% {
    visibility: hidden;
    transform: rotateX(-90deg) translate3d(0, calc(-50% - 1.5 * var(--standEpaisseur)), 0);
    height: 0px;
    width: 0px;
  }
  50% {
    visibility: hidden;
    transform: rotateX(0deg) translate3d(0, 0, 0);
    height: 0px;
    width: 0px;
  }
  100% {
    visibility: hidden;
    transform: rotateX(0deg) translate3d(0, 0, 0);
    height: 0px;
    width: 0px;
  }
}
#CURRICULUM.anim #teleport {
  transform: translateY(calc(0.575 * var(--standLargeur))) rotateX(90deg) translateY(calc(-0.575 * var(--standLargeur)));
}

#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.bottom .down::before,
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.bottom .down::after,
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.bottom .down {
  animation: faceBottomDown linear var(--vitesseEntree) forwards;
}
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.bottom .side::before,
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.bottom .side::after,
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.bottom .side {
  animation: sideBottom linear var(--vitesseEntree) forwards;
}
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.bottom .up::before,
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.bottom .up {
  animation: faceBottomUp linear var(--vitesseEntree) forwards;
}
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.bottom .up::after {
  animation: faceBottomUpAfter linear var(--vitesseEntree) forwards;
}
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.top .side::before,
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.top .side::after,
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.top .side {
  animation: blocTopSide linear var(--vitesseEntree) forwards;
}
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.top .face::before,
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.top .face::after,
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.top .face {
  animation: blocTopFace linear var(--vitesseEntree) forwards;
}
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport .bloc.top {
  animation: blocTop linear var(--vitesseEntree) forwards;
}
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport #filtreCV,
#CURRICULUM.anim #openStand:not(:checked) ~ #teleport #zoneCV {
  animation: document linear var(--vitesseEntree) forwards;
}

#CURRICULUM.anim #openStand:checked ~ #teleport .bloc .face,
#CURRICULUM.anim #openStand:checked ~ #teleport .bloc .face::before,
#CURRICULUM.anim #openStand:checked ~ #teleport .bloc .face::after {
  height: var(--standLargeurInt);
  width: var(--standLargeur);
}
#CURRICULUM.anim #openStand:checked ~ #teleport .bloc .side,
#CURRICULUM.anim #openStand:checked ~ #teleport .bloc .side::before,
#CURRICULUM.anim #openStand:checked ~ #teleport .bloc .side::after {
  width: var(--standEpaisseur);
}
#CURRICULUM.anim #openStand:checked ~ #teleport .bloc.top {
  animation: blocTopOut var(--vitesseSortie) linear forwards !important;
}
#CURRICULUM.anim #openStand:checked ~ #teleport .bloc.bottom {
  animation: blocBottomOut var(--vitesseSortie) linear forwards !important;
}
#CURRICULUM.anim #openStand:checked ~ #teleport #filtreCV,
#CURRICULUM.anim #openStand:checked ~ #teleport #zoneCV {
  animation: docOut var(--vitesseSortie) linear forwards;
}/*# sourceMappingURL=cv.css.map */