:root {
  --menuLargeur:clamp(200px, 18vw, 1000px);
  --menuProfondeur:75px;
  --ignitionDegree: 20deg;
  --vitesseEntree:2.5s;
  --vitesseSortie:1.5s;
  --rightNavFontSize:clamp(2rem, 3vw, 3.25rem);
  --multivac:100px;
  --bookBorder:rgb(50, 50, 50);
  --bookPage:whitesmoke;
  --mainColor:rgb(23, 80, 109);
  --mainColor1:rgb(17, 126, 181);
  --mainColor2:rgb(31, 162, 227);
  --mainColor3:rgb(20, 172, 249);
  --mainColor4:rgb(108, 221, 255);
  --subColor:rgb(39, 48, 52);
  --blurColor1:rgba(1,1,1, 0.1);
  --blurColor2:rgba(10,10,10, 0.25);
  --blurColor3:rgba(15,15,15, 0.5);
  --blackLight:rgba(0,0,0, 0.75);
  --blackLight2:rgba(10,10,10, 0.5);
  --subColorLight: rgba(39, 48, 52, 0.5);
  --mainColorLight:rgba(17, 126, 181, 0.4);
  --mainColor4Light:rgba(108, 221, 255, 0.6);
  --standLargeur:30vw;
  --standLargeurInt:calc(12/21 * (var(--standLargeur)));
  --standEpaisseur:calc(2/21 * (var(--standLargeur)));
  --hMult:8 / 7;
  --standHauteur:calc(var(--hMult) * (var(--standLargeur)));
  --inclinaisonCV:90deg;
  --livreLargeur:clamp(300px, 50vh, 25vw);
  --imageG1:url("../../divers/img/pf-videos.jpg");
  --imageG2:url("../../divers/img/pf-videos-specs.jpg");
  --imageM1:url("../../divers/img/pf-rando.jpg");
  --imageM2:url("../../divers/img/pf-rando-specs.jpg");
  --imageD1:url("../../divers/img/pf-conseil.jpg");
  --imageD2:url("../../divers/img/pf-conseil-specs.jpg");
  --bookFront:var(--bookBorder);
  --zoomLivre:-30vw;
  --inclinaisonLivre:-6deg;
  --rotationLivre:40deg;
  --justifyLivre:0vw;
  --alignLivre:-6vh;
  --gapLivre:15px;
  --vitessePage:1.6s;
  --progressSize:clamp(75px, 10vw, 15vh);
}

/* ---- POLICES ---- */
@media all {
  @font-face {
    font-family: "baskerville";
    src: url(../../divers/fonts/baskervilleRegular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "baskerville";
    src: url(../../divers/fonts/baskervilleBold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "baskerville";
    src: url(../../divers/fonts/baskervilleItalic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  :root {
    --standLargeur:40vw!important;
  }
}
@media screen and (max-width: 1000px) and (min-width: 800px) {
  :root {
    --standLargeur:50vw!important;
  }
  #CURRICULUM #teleport {
    align-self: center !important;
  }
  #COMPETENCES > div:not(.skills) {
    flex-direction: column !important;
    justify-content: space-between !important;
  }
  #COMPETENCES > div:not(.skills) article {
    margin: 0 !important;
    align-items: center !important;
    justify-content: center !important;
  }
  #COMPETENCES > div:not(.skills).php article div {
    display: flex;
  }
  #COMPETENCES > div:not(.skills).php article div > h3 {
    margin-right: 10px;
  }
}
@media screen and (max-width: 800px) {
  :root {
    --standLargeur:60vw!important;
  }
  #CURRICULUM #teleport {
    align-self: center !important;
  }
  #COMPETENCES > div:not(.skills) {
    flex-direction: column !important;
    justify-content: space-between !important;
  }
  #COMPETENCES > div:not(.skills) article {
    margin: 0 !important;
    align-items: center !important;
    justify-content: center !important;
  }
  #COMPETENCES > div:not(.skills).php article div {
    display: flex;
  }
  #COMPETENCES > div:not(.skills).php article div > h3 {
    margin-right: 10px;
  }
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#preHUD, #containerHUD, #containerView, #PORTFOLIO, #CURRICULUM, #book, #livre {
  pointer-events: none;
}
#preHUD #preInput,
#preHUD #teleport,
#preHUD nav.gauche ul,
#preHUD nav.droite, #containerHUD #preInput,
#containerHUD #teleport,
#containerHUD nav.gauche ul,
#containerHUD nav.droite, #containerView #preInput,
#containerView #teleport,
#containerView nav.gauche ul,
#containerView nav.droite, #PORTFOLIO #preInput,
#PORTFOLIO #teleport,
#PORTFOLIO nav.gauche ul,
#PORTFOLIO nav.droite, #CURRICULUM #preInput,
#CURRICULUM #teleport,
#CURRICULUM nav.gauche ul,
#CURRICULUM nav.droite, #book #preInput,
#book #teleport,
#book nav.gauche ul,
#book nav.droite, #livre #preInput,
#livre #teleport,
#livre nav.gauche ul,
#livre nav.droite {
  pointer-events: auto;
}

nav, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#preHUD {
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(ellipse closest-side at 49% 21.5%, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.8) 80%), radial-gradient(ellipse closest-side at 51% 75%, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.8) 80%), url("../../divers/img/hudDark.jpg");
  background-position: center;
  background-size: 100% 130%;
}
#preHUD.anim {
  animation: departHUD 0.1s linear forwards;
}

@keyframes departHUD {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}
@keyframes departMulti {
  from {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
  to {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}
#containerHUD {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("../../divers/img/hudLight.jpg");
  background-position: center;
  background-size: 100% 130%;
  display: grid;
  grid-template-columns: 1vw 18vw 1vw 60vw 1vw 18vw 1vw;
  grid-template-rows: 14vh 78vh 8vh;
  perspective: 1000px;
  perspective-origin: center;
}

@keyframes pasContent {
  from {
    background-image: url("../../divers/img/multivac.gif");
  }
  to {
    background-image: url("../../divers/img/multivacRed.gif");
  }
}
#multivac {
  position: absolute;
  top: 20px;
  left: 40px;
  display: grid;
  place-content: center;
  height: 12vh;
  min-height: 70px;
  max-height: 130px;
  aspect-ratio: 1/1;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  animation: departMulti 1s linear 3s forwards;
}
#multivac #machine {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-image: url("../../divers/img/multivac.gif");
  background-repeat: no-repeat;
  background-size: contain;
}
#multivac #waitingMenu {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

#containerHUD nav.gauche {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  grid-row: 1/span 3;
  grid-column: 2;
  height: 100vh;
  width: 18vw;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#containerHUD nav.gauche ul {
  position: relative;
  transform-style: preserve-3d;
  transform-origin: left;
  height: 75%;
  max-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2%;
  transform: translateX(2vw) rotateY(80deg) translateZ(calc(var(--menuProfondeur)));
}
#containerHUD nav.gauche ul li {
  position: relative;
  transform-style: preserve-3d;
  height: 15%;
  width: 75%;
  text-transform: uppercase;
  color: whitesmoke;
  background-color: var(--mainColorLight);
  display: grid;
  align-content: center;
  padding-left: 20px;
  font-size: clamp(1.5rem, 3vw, 2rem);
  text-shadow: -0.06rem 0rem 0 rgb(148, 163, 184), -0.06rem 0.05rem 0 #0f172a, -0.12rem 0.025rem 0 #94a3b8, -0.12rem 0.075rem 0 #0f172a, -0.18rem 0.05rem 0 #94a3b8, -0.18rem 0.1rem 0 #0f172a, -0.24rem 0.075rem 0 #94a3b8, -0.24rem 0.125rem 0 #0f172a, -0.3rem 0.1rem 0 #94a3b8, -0.3rem 0.15rem 0 #0f172a;
  cursor: pointer;
  transition: transform 3s;
}
#containerHUD nav.gauche ul li:hover {
  transform: translateX(30px);
}
#containerHUD nav.gauche ul li.clicked {
  transform: translate3d(0, 0, 0) rotateY(var(--menuAngle)) translateX(10000px) scale(0);
}
#containerHUD nav.gauche ul li::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: 100%;
  width: var(--menuProfondeur);
  background-color: var(--subColorLight);
  transform-origin: left;
  transform: rotateY(90deg);
}
#containerHUD nav.gauche ul li::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: var(--menuProfondeur);
  width: 100%;
  background-color: var(--subColorLight);
  transform-origin: top;
  transform: rotateX(-90deg);
}
#containerHUD nav.gauche ul li .back {
  position: absolute;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  background-color: var(--subColorLight);
  box-sizing: border-box;
  border: 1px dotted black;
  transform-origin: left;
  transform: translate3d(0, 0, calc(-1 * var(--menuProfondeur)));
}
#containerHUD nav.gauche ul li .back::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: var(--menuProfondeur);
  background-color: var(--subColorLight);
  box-sizing: border-box;
  border: 1px dotted black;
  transform-origin: right;
  transform: rotateY(90deg);
}
#containerHUD nav.gauche ul li .back::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: var(--menuProfondeur);
  width: 100%;
  background-color: var(--subColorLight);
  box-sizing: border-box;
  border: 1px dotted black;
  transform-origin: bottom;
  transform: rotateX(-90deg);
}

#containerHUD nav.droite {
  grid-row: 2;
  grid-column: 6;
  position: relative;
  z-index: 100;
  height: 78vh;
  width: 15vw;
  display: none;
  grid-template-rows: repeat(5, 10vh) 30vh;
  grid-template-columns: 1fr;
}
#containerHUD nav.droite ul {
  height: 78vh;
  width: 15vw;
  display: grid;
  align-content: center;
  grid-template-rows: 10vh repeat(5, 12vh) 10vh;
  grid-template-columns: 1fr;
}
#containerHUD nav.droite ul li {
  all: initial;
  display: grid;
  align-content: center;
  min-height: 12vh;
  min-width: 15vw;
}
#containerHUD nav.droite ul li:nth-of-type(1) {
  grid-column: 1;
  grid-row: 2;
}
#containerHUD nav.droite ul li:nth-of-type(2) {
  grid-column: 1;
  grid-row: 3;
}
#containerHUD nav.droite ul li:nth-of-type(3) {
  grid-column: 1;
  grid-row: 4;
}
#containerHUD nav.droite ul li:nth-of-type(4) {
  grid-column: 1;
  grid-row: 5;
}
#containerHUD nav.droite ul li:nth-of-type(5) {
  grid-column: 1;
  grid-row: 6;
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom),
#containerHUD nav.droite ul li .bouton-texte .container-button-texte {
  align-self: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  min-height: 10vh;
  min-width: 12vh;
  display: grid;
  place-content: center;
  font-size: var(--rightNavFontSize);
  color: var(--mainColor3);
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i,
#containerHUD nav.droite ul li .bouton-texte .container-button-texte i {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.36, 156.44, 219.6), 1.5px 1.125px rgb(29.72, 150.88, 212.2), 2px 1.5px rgb(29.08, 145.32, 204.8), 2.5px 1.875px rgb(28.44, 139.76, 197.4), 3px 2.25px rgb(27.8, 134.2, 190), 3.5px 2.625px rgb(27.16, 128.64, 182.6), 4px 3px rgb(26.52, 123.08, 175.2), 4.5px 3.375px rgb(25.88, 117.52, 167.8), 5px 3.75px rgb(25.24, 111.96, 160.4), 5.5px 4.125px rgb(24.6, 106.4, 153), 6px 4.5px rgb(23.96, 100.84, 145.6), 6.5px 4.875px rgb(23.32, 95.28, 138.2), 7px 5.25px rgb(22.68, 89.72, 130.8), 7.5px 5.625px rgb(22.04, 84.16, 123.4), 8px 6px rgb(21.4, 78.6, 116), 8.5px 6.375px rgb(20.76, 73.04, 108.6), 9px 6.75px rgb(20.12, 67.48, 101.2), 9.5px 7.125px rgb(19.48, 61.92, 93.8), 10px 7.5px rgb(18.84, 56.36, 86.4), 10.5px 7.875px rgb(18.2, 50.8, 79), 11px 8.25px rgb(17.56, 45.24, 71.6), 11.5px 8.625px rgb(16.92, 39.68, 64.2), 12px 9px rgb(16.28, 34.12, 56.8), 12.5px 9.375px rgb(15.64, 28.56, 49.4), 13px 9.75px rgb(15, 23, 42);
  transform: translate(0, 0);
  transition: opacity 0.5s;
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i:not(.fa-arrow-rotate-right):hover,
#containerHUD nav.droite ul li .bouton-texte .container-button-texte i:not(.fa-arrow-rotate-right):hover {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.2380952381, 155.380952381, 218.1904761905), 1.5px 1.125px rgb(29.4761904762, 148.7619047619, 209.380952381), 2px 1.5px rgb(28.7142857143, 142.1428571429, 200.5714285714), 2.5px 1.875px rgb(27.9523809524, 135.5238095238, 191.7619047619), 3px 2.25px rgb(27.1904761905, 128.9047619048, 182.9523809524), 3.5px 2.625px rgb(26.4285714286, 122.2857142857, 174.1428571429), 4px 3px rgb(25.6666666667, 115.6666666667, 165.3333333333), 4.5px 3.375px rgb(24.9047619048, 109.0476190476, 156.5238095238), 5px 3.75px rgb(24.1428571429, 102.4285714286, 147.7142857143), 5.5px 4.125px rgb(23.380952381, 95.8095238095, 138.9047619048), 6px 4.5px rgb(22.619047619, 89.1904761905, 130.0952380952), 6.5px 4.875px rgb(21.8571428571, 82.5714285714, 121.2857142857), 7px 5.25px rgb(21.0952380952, 75.9523809524, 112.4761904762), 7.5px 5.625px rgb(20.3333333333, 69.3333333333, 103.6666666667), 8px 6px rgb(19.5714285714, 62.7142857143, 94.8571428571), 8.5px 6.375px rgb(18.8095238095, 56.0952380952, 86.0476190476), 9px 6.75px rgb(18.0476190476, 49.4761904762, 77.2380952381), 9.5px 7.125px rgb(17.2857142857, 42.8571428571, 68.4285714286), 10px 7.5px rgb(16.5238095238, 36.2380952381, 59.619047619), 10.5px 7.875px rgb(15.7619047619, 29.619047619, 50.8095238095), 11px 8.25px rgb(15, 23, 42);
  transform: translate(2px, 1.5px);
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i:not(.fa-arrow-rotate-right):active,
#containerHUD nav.droite ul li .bouton-texte .container-button-texte i:not(.fa-arrow-rotate-right):active {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.0588235294, 153.8235294118, 216.1176470588), 1.5px 1.125px rgb(29.1176470588, 145.6470588235, 205.2352941176), 2px 1.5px rgb(28.1764705882, 137.4705882353, 194.3529411765), 2.5px 1.875px rgb(27.2352941176, 129.2941176471, 183.4705882353), 3px 2.25px rgb(26.2941176471, 121.1176470588, 172.5882352941), 3.5px 2.625px rgb(25.3529411765, 112.9411764706, 161.7058823529), 4px 3px rgb(24.4117647059, 104.7647058824, 150.8235294118), 4.5px 3.375px rgb(23.4705882353, 96.5882352941, 139.9411764706), 5px 3.75px rgb(22.5294117647, 88.4117647059, 129.0588235294), 5.5px 4.125px rgb(21.5882352941, 80.2352941176, 118.1764705882), 6px 4.5px rgb(20.6470588235, 72.0588235294, 107.2941176471), 6.5px 4.875px rgb(19.7058823529, 63.8823529412, 96.4117647059), 7px 5.25px rgb(18.7647058824, 55.7058823529, 85.5294117647), 7.5px 5.625px rgb(17.8235294118, 47.5294117647, 74.6470588235), 8px 6px rgb(16.8823529412, 39.3529411765, 63.7647058824), 8.5px 6.375px rgb(15.9411764706, 31.1764705882, 52.8823529412), 9px 6.75px rgb(15, 23, 42);
  transform: translate(4px, 3px);
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i:hover:not(.fa-arrow-rotate-right),
#containerHUD nav.droite ul li .bouton-texte .container-button-texte i:hover:not(.fa-arrow-rotate-right) {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.2380952381, 155.380952381, 218.1904761905), 1.5px 1.125px rgb(29.4761904762, 148.7619047619, 209.380952381), 2px 1.5px rgb(28.7142857143, 142.1428571429, 200.5714285714), 2.5px 1.875px rgb(27.9523809524, 135.5238095238, 191.7619047619), 3px 2.25px rgb(27.1904761905, 128.9047619048, 182.9523809524), 3.5px 2.625px rgb(26.4285714286, 122.2857142857, 174.1428571429), 4px 3px rgb(25.6666666667, 115.6666666667, 165.3333333333), 4.5px 3.375px rgb(24.9047619048, 109.0476190476, 156.5238095238), 5px 3.75px rgb(24.1428571429, 102.4285714286, 147.7142857143), 5.5px 4.125px rgb(23.380952381, 95.8095238095, 138.9047619048), 6px 4.5px rgb(22.619047619, 89.1904761905, 130.0952380952), 6.5px 4.875px rgb(21.8571428571, 82.5714285714, 121.2857142857), 7px 5.25px rgb(21.0952380952, 75.9523809524, 112.4761904762), 7.5px 5.625px rgb(20.3333333333, 69.3333333333, 103.6666666667), 8px 6px rgb(19.5714285714, 62.7142857143, 94.8571428571), 8.5px 6.375px rgb(18.8095238095, 56.0952380952, 86.0476190476), 9px 6.75px rgb(18.0476190476, 49.4761904762, 77.2380952381), 9.5px 7.125px rgb(17.2857142857, 42.8571428571, 68.4285714286), 10px 7.5px rgb(16.5238095238, 36.2380952381, 59.619047619), 10.5px 7.875px rgb(15.7619047619, 29.619047619, 50.8095238095), 11px 8.25px rgb(15, 23, 42);
  transform: translate(2px, 1.5px);
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom) i:active:not(.fa-arrow-rotate-right),
#containerHUD nav.droite ul li .bouton-texte .container-button-texte i:active:not(.fa-arrow-rotate-right) {
  text-shadow: 0px 0px rgb(185, 232, 255), -1px -1px rgb(185, 232, 255), 1px 1px rgb(185, 232, 255), 0.5px 0.375px rgb(31, 162, 227), 1px 0.75px rgb(30.0588235294, 153.8235294118, 216.1176470588), 1.5px 1.125px rgb(29.1176470588, 145.6470588235, 205.2352941176), 2px 1.5px rgb(28.1764705882, 137.4705882353, 194.3529411765), 2.5px 1.875px rgb(27.2352941176, 129.2941176471, 183.4705882353), 3px 2.25px rgb(26.2941176471, 121.1176470588, 172.5882352941), 3.5px 2.625px rgb(25.3529411765, 112.9411764706, 161.7058823529), 4px 3px rgb(24.4117647059, 104.7647058824, 150.8235294118), 4.5px 3.375px rgb(23.4705882353, 96.5882352941, 139.9411764706), 5px 3.75px rgb(22.5294117647, 88.4117647059, 129.0588235294), 5.5px 4.125px rgb(21.5882352941, 80.2352941176, 118.1764705882), 6px 4.5px rgb(20.6470588235, 72.0588235294, 107.2941176471), 6.5px 4.875px rgb(19.7058823529, 63.8823529412, 96.4117647059), 7px 5.25px rgb(18.7647058824, 55.7058823529, 85.5294117647), 7.5px 5.625px rgb(17.8235294118, 47.5294117647, 74.6470588235), 8px 6px rgb(16.8823529412, 39.3529411765, 63.7647058824), 8.5px 6.375px rgb(15.9411764706, 31.1764705882, 52.8823529412), 9px 6.75px rgb(15, 23, 42);
  transform: translate(4px, 3px);
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom):not(.anim, .closed) .fa-arrow-rotate-right:hover,
#containerHUD nav.droite ul li .bouton-texte .container-button-texte:not(.anim, .closed) .fa-arrow-rotate-right:hover {
  transform: rotate(15deg);
}
#containerHUD nav.droite ul li .bouton-texte:not(.changementPage, .zoom).anim .fa-arrow-rotate-right:hover,
#containerHUD nav.droite ul li .bouton-texte .container-button-texte.anim .fa-arrow-rotate-right:hover {
  cursor: not-allowed;
}
#containerHUD nav.droite ul #rotationStandIcon.open.anim {
  animation: iconTurn 5s linear infinite;
}
#containerHUD nav.droite ul .bouton-texte.changementPage,
#containerHUD nav.droite ul .bouton-texte.zoom {
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
#containerHUD nav.droite ul .bouton-texte.changementPage .container-button-texte,
#containerHUD nav.droite ul .bouton-texte.zoom .container-button-texte {
  min-width: calc(2 * var(--rightNavFontSize)) !important;
}
#containerHUD nav.droite ul .bouton-texte.changementPage .container-button-texte.pagePrecedente,
#containerHUD nav.droite ul .bouton-texte.zoom .container-button-texte.pagePrecedente {
  transform: rotateY(-180deg);
}
#containerHUD nav.droite ul #infosSup {
  cursor: help !important;
}
#containerHUD nav.droite ul #openBook i {
  align-self: center;
  justify-self: center;
  position: absolute;
}
#containerHUD nav.droite ul #openBook .fa-book {
  z-index: 110;
}
#containerHUD nav.droite ul #openBook .fa-book-open {
  opacity: 0;
  z-index: 100;
}
#containerHUD nav.droite ul #openBook.closed .fa-book {
  opacity: 0;
}
#containerHUD nav.droite ul #openBook.closed .fa-book-open {
  opacity: 1;
}
#containerHUD nav.droite ul #openStandIcon {
  transform: rotate(-45deg);
}
#containerHUD nav.droite ul #openStandIcon i {
  align-self: center;
  justify-self: center;
  position: absolute;
}
#containerHUD nav.droite ul #openStandIcon .fa-down-left-and-up-right-to-center {
  z-index: 110;
}
#containerHUD nav.droite ul #openStandIcon .fa-up-right-and-down-left-from-center {
  opacity: 0;
  z-index: 100;
}
#containerHUD nav.droite ul #openStandIcon.closed .fa-down-left-and-up-right-to-center {
  opacity: 0;
}
#containerHUD nav.droite ul #openStandIcon.closed .fa-up-right-and-down-left-from-center {
  opacity: 1;
}

html body #containerHUD nav.droite ul li > * {
  position: absolute;
  align-self: center;
  justify-self: center;
  visibility: hidden;
}

#containerView {
  visibility: visible;
  transform-style: preserve-3d;
  grid-row: 2;
  grid-column: 4;
  height: 78vh;
  width: 60vw;
}
#containerView .hidden {
  display: none !important;
}
#containerView .main {
  transform-style: preserve-3d;
  position: relative;
  z-index: 10;
  height: 78vh;
  width: 60vw;
}
#containerView #APROPOS,
#containerView #PORTFOLIO,
#containerView #CURRICULUM,
#containerView #COMPETENCES {
  visibility: visible !important;
  display: grid;
  align-content: center;
  text-align: center;
}

#modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
}
#modal #exitModal {
  all: initial;
  display: none;
  place-content: center;
  font-size: 2rem;
  position: fixed;
  z-index: 700;
  top: 10px;
  right: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0.3rem solid black;
  cursor: pointer;
}
#modal #backgroundModal {
  position: absolute;
  z-index: 500;
  height: 100vh;
  width: 100vw;
  background-color: var(--subColorLight);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  cursor: crosshair;
}
#modal #containerModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 600;
  align-self: center;
  justify-self: center;
  padding: 20px;
  height: 70vh;
  width: calc(70vw - 20px);
  min-width: 400px;
  background-color: var(--mainColor3);
  overflow: scroll;
}
#modal #containerModal h1 {
  font-size: clamp(2rem, 3vw, 3rem);
}
#modal #containerModal h3 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}
#modal #containerModal p {
  font-size: clamp(1rem, 2.2vw, 2rem);
}
#modal #containerModal #captcha {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  row-gap: 20px;
  align-content: center;
  justify-content: space-around;
}
#modal #containerModal #captcha #captchaImg {
  align-self: center;
  min-width: 400px;
  max-width: 400px;
  min-height: 160px;
  max-height: 160px;
  border: 2px solid black;
}
#modal #containerModal #captcha div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  height: 100%;
  width: 100%;
}
#modal #containerModal #captcha div input {
  all: initial;
  border: none;
  border-bottom: 2px solid var(--mainColor3);
  padding-left: 3px;
  background: var(--mainColor1) !important;
  height: 30px;
  width: 40%;
  cursor: text !important;
}
#modal #containerModal #captcha div button {
  height: 50px;
  width: 100px;
  cursor: pointer;
}/*# sourceMappingURL=hud.css.map */