:root {
    // HUD//
    --menuLargeur:clamp(200px, 18vw, 1000px);
    --menuProfondeur:75px;
    --ignitionDegree: 20deg;
    --vitesseEntree:2.5s;
    --vitesseSortie:1.5s;
    --rightNavFontSize:clamp(2rem, 3vw, 3.25rem);
	--multivac:100px;

    // COLORS //
    --bookBorder:rgb(50, 50, 50);
    --bookPage:whitesmoke;    
	--mainColor:rgb(23, 80, 109);
    --mainColor1:rgb(17, 126, 181);
    --mainColor2:rgb(31, 162, 227);
    --mainColor3:rgb(20, 172, 249);
    --mainColor4:rgb(108, 221, 255);
    --subColor:rgb(39, 48, 52);
    --blurColor1:rgba(1,1,1, 0.1);
    --blurColor2:rgba(10,10,10, 0.25);
    --blurColor3:rgba(15,15,15, 0.5);
    --blackLight:rgba(0,0,0, 0.75);
    --blackLight2:rgba(10,10,10, 0.5);
    --subColorLight: rgba(39, 48, 52, 0.5);
    --mainColorLight:rgba(17, 126, 181, 0.4);
    --mainColor4Light:rgba(108, 221, 255, 0.6);

    // DISPLAY CV //
    --standLargeur:30vw; // Variable unique.
    --standLargeurInt:calc(12/21 * (var(--standLargeur)));
    --standEpaisseur:calc(2/21 * (var(--standLargeur)));
	--hMult:8 / 7; 
    --standHauteur:calc(var(--hMult) * (var(--standLargeur)));
	--inclinaisonCV:90deg;

    // LIVRE PORTFOLIO //
    --livreLargeur:clamp(300px, 50vh, 25vw);
    --imageG1:url('../../divers/img/pf-videos.jpg');
    --imageG2:url('../../divers/img/pf-videos-specs.jpg');
    --imageM1:url('../../divers/img/pf-rando.jpg');
    --imageM2:url('../../divers/img/pf-rando-specs.jpg');
    --imageD1:url('../../divers/img/pf-conseil.jpg');
    --imageD2:url('../../divers/img/pf-conseil-specs.jpg');
    --bookFront:var(--bookBorder);

    --zoomLivre:-30vw;
    --inclinaisonLivre:-6deg;
    --rotationLivre:40deg;
    --justifyLivre:0vw;
    --alignLivre:-6vh;
    --gapLivre:15px;
    --vitessePage:1.6s;

	// COMPETENCES //
	--progressSize:clamp(75px, 10vw, 15vh);

}

/* ---- POLICES ---- */
@media all {
    @font-face {
        font-family: "baskerville";
        src: url(../../divers/fonts/baskervilleRegular.ttf) format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "baskerville";
        src: url(../../divers/fonts/baskervilleBold.ttf) format("truetype");
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: 'baskerville';
        src: url(../../divers/fonts/baskervilleItalic.ttf) format("truetype");
        font-weight: normal;
        font-style: italic;
    }
}