@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: rgb(171, 230, 230);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  height: 75%;
  max-height: 1000px;
  width: 75%;
  max-width: 1050px;
  padding: 0 0 15vh 0;
  margin: 0 auto;
  overflow: scroll;
}

div.container {
  z-index: 10;
  pointer-events: none;
  position: absolute;
}
div.container fieldset {
  position: absolute;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  background-color: #edc5f5;
}
div.container fieldset.reinitialisation {
  top: 20px;
  right: 20px;
}
div.container fieldset.selection {
  top: 10px;
  left: 10px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
div.container fieldset.selection div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}
div.container fieldset.selection label {
  width: 100%;
  display: flex;
  align-items: center;
}
div.container fieldset.selection input,
div.container fieldset.selection label {
  height: 30px;
  margin: 0;
  padding: 0;
}
div.container fieldset.information {
  justify-content: space-evenly;
  margin: 0;
  padding: 5px;
  bottom: 20px;
  right: 20px;
  width: 33.3333333333%;
  min-width: 180px;
  aspect-ratio: 1/1;
  container: infos/inline-size;
}
div.container fieldset.information div {
  flex: none;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
div.container fieldset.information div.comcom {
  display: none;
}
div.container fieldset.information label,
div.container fieldset.information p {
  height: 36px;
  margin: 2px 0px;
  padding: 0 0 0 5px;
  display: flex;
  align-items: center;
}
div.container fieldset.information label {
  flex: none;
  width: 30cqi;
  min-width: 85px;
  text-decoration: underline;
  font-size: clamp(1rem, 4.5cqi, 2.5rem);
  font-weight: bold;
}
div.container fieldset.information p {
  width: 100%;
  flex: 1 1 auto;
  font-size: clamp(0.9rem, 3.5cqi, 2rem);
  text-overflow: clip;
}
@container (max-width: 220px) {
  div.container fieldset.information div {
    flex: 1 1 auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  div.container fieldset.information div label,
  div.container fieldset.information div p {
    padding: 0 0 0 0;
    width: 100% !important;
    height: 20px;
  }
  div.container fieldset.information div label {
    margin: 2px 0 0 0;
  }
  div.container fieldset.information div p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 2px 0;
  }
}

main.container {
  flex-direction: column;
  background-color: #fefefe;
  transition: 0.1s;
}
main.container div.carte {
  position: relative;
  height: 100%;
  width: 100%;
  transform-origin: top left;
  transform: scale(1);
}
main.container g path {
  fill-opacity: 1;
  stroke-opacity: 1;
}

main.container.vue_epci g[data-nom="CC Cagire Garonne Salat"]:hover path {
  fill: #2c9d87 !important;
}
main.container.vue_epci g path {
  stroke-width: 0.36;
}
main.container.vue_epci g:hover path {
  cursor: pointer;
  stroke: whitesmoke;
}
main.container.vue_epci div.carte svg g:nth-of-type(1) path {
  fill: hsl(0, 50%, 70%);
  stroke: hsl(0, 50%, 70%);
}
main.container.vue_epci div.carte svg g:nth-of-type(1):hover path {
  fill: hsl(0, 37.5%, 52.5%);
  stroke: hsl(0, 37.5%, 52.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(2) path {
  fill: hsl(25, 56%, 66%);
  stroke: hsl(25, 56%, 66%);
}
main.container.vue_epci div.carte svg g:nth-of-type(2):hover path {
  fill: hsl(25, 42%, 49.5%);
  stroke: hsl(25, 42%, 49.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(3) path {
  fill: hsl(50, 62%, 62%);
  stroke: hsl(50, 62%, 62%);
}
main.container.vue_epci div.carte svg g:nth-of-type(3):hover path {
  fill: hsl(50, 46.5%, 46.5%);
  stroke: hsl(50, 46.5%, 46.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(4) path {
  fill: hsl(75, 68%, 58%);
  stroke: hsl(75, 68%, 58%);
}
main.container.vue_epci div.carte svg g:nth-of-type(4):hover path {
  fill: hsl(75, 51%, 43.5%);
  stroke: hsl(75, 51%, 43.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(5) path {
  fill: hsl(100, 54%, 54%);
  stroke: hsl(100, 54%, 54%);
}
main.container.vue_epci div.carte svg g:nth-of-type(5):hover path {
  fill: hsl(100, 40.5%, 40.5%);
  stroke: hsl(100, 40.5%, 40.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(6) path {
  fill: hsl(125, 60%, 70%);
  stroke: hsl(125, 60%, 70%);
}
main.container.vue_epci div.carte svg g:nth-of-type(6):hover path {
  fill: hsl(125, 45%, 52.5%);
  stroke: hsl(125, 45%, 52.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(7) path {
  fill: hsl(150, 66%, 66%);
  stroke: hsl(150, 66%, 66%);
}
main.container.vue_epci div.carte svg g:nth-of-type(7):hover path {
  fill: hsl(150, 49.5%, 49.5%);
  stroke: hsl(150, 49.5%, 49.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(8) path {
  fill: hsl(175, 52%, 62%);
  stroke: hsl(175, 52%, 62%);
}
main.container.vue_epci div.carte svg g:nth-of-type(8):hover path {
  fill: hsl(175, 39%, 46.5%);
  stroke: hsl(175, 39%, 46.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(9) path {
  fill: hsl(200, 58%, 58%);
  stroke: hsl(200, 58%, 58%);
}
main.container.vue_epci div.carte svg g:nth-of-type(9):hover path {
  fill: hsl(200, 43.5%, 43.5%);
  stroke: hsl(200, 43.5%, 43.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(10) path {
  fill: hsl(225, 64%, 54%);
  stroke: hsl(225, 64%, 54%);
}
main.container.vue_epci div.carte svg g:nth-of-type(10):hover path {
  fill: hsl(225, 48%, 40.5%);
  stroke: hsl(225, 48%, 40.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(11) path {
  fill: hsl(250, 50%, 70%);
  stroke: hsl(250, 50%, 70%);
}
main.container.vue_epci div.carte svg g:nth-of-type(11):hover path {
  fill: hsl(250, 37.5%, 52.5%);
  stroke: hsl(250, 37.5%, 52.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(12) path {
  fill: hsl(275, 56%, 66%);
  stroke: hsl(275, 56%, 66%);
}
main.container.vue_epci div.carte svg g:nth-of-type(12):hover path {
  fill: hsl(275, 42%, 49.5%);
  stroke: hsl(275, 42%, 49.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(13) path {
  fill: hsl(300, 62%, 62%);
  stroke: hsl(300, 62%, 62%);
}
main.container.vue_epci div.carte svg g:nth-of-type(13):hover path {
  fill: hsl(300, 46.5%, 46.5%);
  stroke: hsl(300, 46.5%, 46.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(14) path {
  fill: hsl(325, 68%, 58%);
  stroke: hsl(325, 68%, 58%);
}
main.container.vue_epci div.carte svg g:nth-of-type(14):hover path {
  fill: hsl(325, 51%, 43.5%);
  stroke: hsl(325, 51%, 43.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(15) path {
  fill: hsl(350, 54%, 54%);
  stroke: hsl(350, 54%, 54%);
}
main.container.vue_epci div.carte svg g:nth-of-type(15):hover path {
  fill: hsl(350, 40.5%, 40.5%);
  stroke: hsl(350, 40.5%, 40.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(16) path {
  fill: hsl(15, 60%, 70%);
  stroke: hsl(15, 60%, 70%);
}
main.container.vue_epci div.carte svg g:nth-of-type(16):hover path {
  fill: hsl(15, 45%, 52.5%);
  stroke: hsl(15, 45%, 52.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(17) path {
  fill: hsl(40, 66%, 66%);
  stroke: hsl(40, 66%, 66%);
}
main.container.vue_epci div.carte svg g:nth-of-type(17):hover path {
  fill: hsl(40, 49.5%, 49.5%);
  stroke: hsl(40, 49.5%, 49.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(18) path {
  fill: hsl(65, 52%, 62%);
  stroke: hsl(65, 52%, 62%);
}
main.container.vue_epci div.carte svg g:nth-of-type(18):hover path {
  fill: hsl(65, 39%, 46.5%);
  stroke: hsl(65, 39%, 46.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(19) path {
  fill: hsl(90, 58%, 58%);
  stroke: hsl(90, 58%, 58%);
}
main.container.vue_epci div.carte svg g:nth-of-type(19):hover path {
  fill: hsl(90, 43.5%, 43.5%);
  stroke: hsl(90, 43.5%, 43.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(20) path {
  fill: hsl(115, 64%, 54%);
  stroke: hsl(115, 64%, 54%);
}
main.container.vue_epci div.carte svg g:nth-of-type(20):hover path {
  fill: hsl(115, 48%, 40.5%);
  stroke: hsl(115, 48%, 40.5%);
}
main.container.vue_epci div.carte svg g:nth-of-type(21) path {
  fill: hsl(140, 50%, 70%);
  stroke: hsl(140, 50%, 70%);
}
main.container.vue_epci div.carte svg g:nth-of-type(21):hover path {
  fill: hsl(140, 37.5%, 52.5%);
  stroke: hsl(140, 37.5%, 52.5%);
}

main.container.vue_communes g {
  pointer-events: none;
}
main.container.vue_communes g path {
  pointer-events: auto;
  fill: #b5ce78;
  stroke: white;
  stroke-width: 0.2;
}
main.container.vue_communes g path:hover {
  fill: #2c9d87 !important;
  stroke: black;
  stroke-width: 0.36;
}

g[data-nom="CC Cagire Garonne Salat"] path {
  fill: #90e79e !important;
}

/*
g[data-nom="CC du Frontonnais"] {
    path {
        fill: azure;
        fill-opacity: 1;
        stroke: black;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: red;
        }
    }
}

g[data-nom="CC du Volvestre"] {
    path {
        fill: #edc5f5;
        fill-opacity: 1;
        stroke: black;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: red;
        }
    }
}

g[data-nom="CA Le Muretain Agglo"] {
    path {
        fill: rgb(84, 245, 245);
        fill-opacity: 1;
        stroke: gray;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: red;
        }
    }
}

g[data-nom="CC du Bassin Auterivain Haut-Garonnais"] {
    path {
        fill: #5e8700;
        fill-opacity: 1;
        stroke: #ffffff;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: orange;
        }
    }
}

g[data-nom="CC Coeur de Garonne"] {
    path {
        fill: rgb(56, 82, 199);
        fill-opacity: 1;
        stroke: whitesmoke;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: red;
        }
    }
}

g[data-nom="CC des Terres du Lauragais"] {
    path {
        fill: #54d370;
        fill-opacity: 1;
        stroke: whitesmoke;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: red;
        }
    }
}

g[data-nom="CC des Hauts-Tolosans"] {
    path {
        fill: rgb(204, 221, 156);
        fill-opacity: 1;
        stroke: gray;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: red;
        }
    }
}

// polygon[id="31020 ASPET"] {
//     fill: orange!important;

//     &:hover {
//         fill: blue!important;
//     }
// }

g[data-nom="CC Pyrénées Haut Garonnaises"] {
    path {
        fill: #290e1e;
        fill-opacity: 1;
        stroke: #ffffff;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: orange;
        }
    }
}

g[data-nom="CC Coeur et Coteaux du Comminges"] {
    path {
        fill: rgb(172, 162, 22);
        fill-opacity: 1;
        stroke: black;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: red;
        }
    }
}

g[data-nom="Toulouse Métropole"] {
    path {
        fill: #cf81df;
        fill-opacity: 1;
        stroke: black;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: red;
        }
    }
}

g[data-nom="CC Lauragais Revel Sorezois"] {
    path {
        fill: rgb(158, 212, 176);
        fill-opacity: 1;
        stroke: gray;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: red;
        }
    }
}

g[data-nom="CA du Sicoval"] {
    path {
        fill: #870007;
        fill-opacity: 1;
        stroke: #ffffff;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: orange;
        }
    }
}

g[data-nom="CC des Coteaux du Girou"] {
    path {
        fill: rgb(56, 82, 199);
        fill-opacity: 1;
        stroke: rgb(46, 42, 42);
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: red;
        }
    }
}

g[data-nom="CC Val'Aïgo"] {
    path {
        fill: #547cd3;
        fill-opacity: 1;
        stroke: whitesmoke;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: red;
        }
    }
}

g[data-nom="CC Le Grand Ouest Toulousain"] {
    path {
        fill: rgb(74, 94, 20);
        fill-opacity: 1;
        stroke: gray;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: red;
        }
    }
}

g[data-nom="CC des Coteaux Bellevue"] {
    path {
        fill: rgb(221, 169, 156);
        fill-opacity: 1;
        stroke: gray;
        stroke-width: 0.001;
        stroke-opacity: 1;

        &:hover {
            fill: red;
        }
    }
}
*//*# sourceMappingURL=style.css.map */